.idea
venv

DNNmodel/checkpoint
DNNmodel/model_demo.ckpt.data-00000-of-00001
DNNmodel/model_demo.ckpt.index
DNNmodel/model_demo.ckpt.meta
Histogram_10.eps
MSETime_10_200_10
MSE_train.eps
Prediction_10
